<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body ng-controller="CustomerController as custCtrl">

    <div>
        <div ng-include="'menu.html'"></div>
    </div>

    <div id="main-header">
        <h1>Sign In</h1>
    </div>

        <p class="general-center">{{custCtrl.signInMessage}}</p>

        <form ng-submit="custCtrl.signIn(username, password)">
            <fieldset id="sign-in">
                <legend>Login</legend>
                
                <label for="username" id="label-username">User Name</label>
                <input type="text" name="username" id="username" ng-model="username" required>
                
                <label for="password" id="label-password">Password</label>
                <input type="password" name="password" id="password" ng-model="password" required>
                
                <button type="submit" id="sign-in-button">Sign In</button>
            </fieldset>
        </form>
    <p class="general-center">If you dont have an account<a href="signup.html"> create one here</a>.</p>
    </body>
</html>
