<!DOCTYPE html>
<html lang="en" ng-app="ShoppingApp">
<head>
    <meta charset="UTF-8">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/ngStorage.min.js"></script>
    <script src="js/shopping.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Purchase</title>
</head>
<body>

<div>
    <div ng-include="'menu.html'"></div>
</div>
<div id="main-header">
    <h1>How many do you want to buy?</h1>
</div>

<table ng-controller="CartController as cartCtrl" id="purchase-table">
    <tbody>
    <tr>
        <th>Name</th>
        <td>{{cartCtrl.selectedProduct.name}}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{cartCtrl.selectedProduct.description}}</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>{{cartCtrl.selectedProduct.listPrice}}</td>
    </tr>
    <tr>
        <th>Quantity Available</th>
        <td>{{cartCtrl.selectedProduct.quantityInStock}}</td>
    </tr>
    </tbody>
</table>

<form ng-controller="CartController as cartCtrl" id="purchase-form">
    <fieldset>
        <legend>Quantity to buy</legend>
        <label for="quantity">How many?</label>
        <input type="number" name="quantity" id="quantity" ng-model="quantity">
        <button type="submit" ng-click="cartCtrl.addToCartButton(quantity)">Add to Cart</button>
    </fieldset>
</form>

</body>
</html>